<% for (const commandHelpInfo of helpInfo) { %>
  <tr>
    <td><%- commandHelpInfo.name %></td>
    <td><%- commandHelpInfo.description %></td>
    <td>
      <ul class="list-group">
        <% for (const match of commandHelpInfo.matches) { %>
          <a class="list-group-item list-group-item-action" href=/search?q=<%- match -%> target="_blank"><%- match -%></a>
        <% } %>
      </ul>
    </td>
    <td>
      <ul class="list-group">
        <% for (const {command, uriCommand} of commandHelpInfo.examples) { %>
          <a class="list-group-item list-group-item-action" href=/search?q=<%- uriCommand -%> target="_blank"><%- command -%></a>
        <% } %>
      </ul>
    </td>
  </tr>
<% } %>